table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.main{
    margin: auto;
    margin-top: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
select{
  width: 100%;
  padding: 4px 11px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}